@import url(normalize.css);

body {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 1rem;
}

/* Form */
form {
  position: sticky;
  top: 1rem;
  width: 400px;
  max-width: 100%;
  font-size: 1.5rem;
  height: max-content;
}

legend {
  color: white;
  background: black;
  padding: 10px 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
}

fieldset > div {
  display: flex;
  flex-flow: row wrap;
}

input[type="text"],
input[type="tel"],
input[type="range"] {
  display: block;
  width: 100%;
  padding: 4px;
  margin: 0;
}

input[type="range"] {
  padding: 0;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.checkbox-wrapper {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
  margin-left: 5px;
}

datalist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

option {
  padding: 0;
}

button {
  width: 60%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

/* Table */
table {
  height: min-content;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
}

caption {
  font-size: 2rem;
  padding: 1rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

.actions-wrapper {
  display: flex;
  gap: 1rem;
}

.actions-wrapper a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: aquamarine;
  padding: 0.5em 1em;
  width: max-content;
  border-radius: 4px;
}

.actions-wrapper a:active {
  transform: translateY(2px);
}

/* Form validation */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
}

.error.active {
  padding: 0.3em;
}

@media (max-width: 700px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }

  form {
    position: static;
  }
}
